---
import Nav from '../components/Nav.astro';
import Header from '../components/Header.astro';
import Information from '../components/Information.astro';
import Inschrijven from '../components/Inschrijven.astro';
import Program from '../components/Program.astro'
import Sticky from '../components/Sticky.astro'
import Smallprint from '../components/Smallprint.astro'
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<Nav />
		<Header />
		<main>
			<Information />
			<Program />
			<Inschrijven />
			<Sticky />
			<Contact />
			<Smallprint />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html,
body {
	margin: 0;
	width: 100%;
	height: 100vw;
    font-family: 'Outfit', 'Arial', 'sans-serif';
}

p { text-align: justify; }

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }

h1, h2, h3, h4, h5, h6 {
	> strong { color: #197052; }
}

main {
	width: 75vw;
	margin: 0 auto;
	overflow: visible;
}
</style>
