---
import Nav from '../components/Nav.astro';
import Header from '../components/Header.astro';
import Information from '../components/Information.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<Nav />
		<Header />
		<Information />
	</body>
</html>

<style>
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
    font-family: 'Outfit', 'Arial', 'sans-serif';
}
</style>
