---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { contentfulClient } from "../contentful";
import type { EntryFieldTypes } from "contentful";

interface Association {
    contentTypeId: "association";
    fields: {
        content: EntryFieldTypes.RichText;
    };
}

const [association] = await contentfulClient.withoutUnresolvableLinks
    .getEntries<Association>({
        content_type: "association",
    })
    .then((result) => result.items);
---

<section id="sticky">
    <div class="content">
        <div set:html={documentToHtmlString(association.fields.content)} />
        <a href="https://wordlid.svsticky.nl" class="button">Word lid!</a>
    </div>

    <img
        src="https://public.svsticky.nl/logos/hoofd_outline_kleur.svg"
        alt="Sticky logo"
    />
</section>

<style lang="scss">
    #sticky {
        position: relative;
        display: grid;
        grid-template-columns: auto;

        .content {
            width: 100%;
            padding: 1rem 0;
            text-align: left;

            .button {
                display: inline-block;
                padding: 1rem 2rem;
                margin-top: 1rem;
                background-color: #197052;
                color: white;
                font-size: 1.2rem;
                border-radius: 5px;
                text-decoration: none;
                font-weight: bold;
                text-align: center;
                transition: opacity 0.3s ease;

                &:hover {
                    opacity: 0.7;
                }
            }
        }

        img {
            width: 100%;
            display: none;
            margin: auto;
        }
    }

    @media (min-width: 800px) {
        #sticky {
            grid-template-columns: 65% 35%;

            img {
                display: block;
            }
        }
    }
</style>
