---
---

<section id="Eerstejaarsweekend">
    <h1>Het <strong>eerstejaarsweekend</strong></h1>
    <p>
        Kom gezellig mee op eerstejaarsweekend en leer je studiegenoten kennen! 
        Dit is <i>dé</i> manier om kennis te maken met de mensen waarmee je komende jaren je studie doet!
        Het weekend zit vol met leuke activiteiten, zoals karaoke, kampvuur, een themafeest en meer.
        Daarnaast wordt het eten geregeld door de chef-koks van onze kookcommissie.
        Meld je zo snel mogelijk aan, voordat de kaartverkoop sluit!
    </p>

    <p>
        Let op, het eerstejaarsweekend is geen ontgroening! Alles mag, niks moet!
        Dit is puur alleen plezier en elkaar leren kennen.
    </p>

    <p>
        De locatie voor het eerstejaarsweekendis 'De Hoof' in Someren.
    </p>
</section>