---

---

<section id="FAQ">
    <h1>Frequently Asked <strong>Questions</strong></h1>

    <h3>Wanneer is de introductie?</h3>
    <p>
        De intro vindt plaats tussen woensdag 27 augustus en vrijdag 5 september.
        Let op: De eerste activiteiten vallen dus in de laatste week van de zomervakantie!
    </p>

    <h3>Mag ik drugs en/of alcohol meenemen?</h3>
    <p>
        Drugs zijn NIET toegestaan tijdens de introductie, waar alcohol van
        toepassing is zal dit door ons aangeboden worden. Zelf meenemen is niet
        toegestaan. Alcohol wordt alleen aan 18+ studenten geschonken.
    </p>

    <h3>Help! Ik weet niet waar ik moet zijn.</h3>
    <p>
        De mentoren zijn altijd op de hoogte van waar je moet zijn. Je kunt contact
        met hen opnemen. Daarnaast zal er tijdens de gehele introductie een centrale post
        (de CePo) zijn, waar altijd iemand van de introductiecommissie is te vinden die je
        weer op weg kan helpen. De CePo is grotendeels van de tijd te vinden in het
        Buys Ballot Gebouw (BBG), waar ook de studievereniging te vinden is.
    </p>

    <h3>Waar kan ik mijn studentnummer vinden?</h3>
    <p>
        Bij het inschrijven voor je studie heb je van Studielink een e-mail gekregen
        met daarin je studentnummer. Het makkelijkste is dus om even te zoeken in je
        mailbox naar de mail die je van Studielink hebt gehad. Daarnaast heb je van de
        Universiteit Utrecht een Solis-id gekregen. Dit nummer is hetzelfde als je studentnummer.
    </p>

    <h3>Hoe neem ik deel aan de introductieactiviteiten?</h3>
    <p>
        Het aanmelden voor activiteiten gaat via Pretix. Dit is een online webshop,
        waarbij je zelf kan selecteren naar welke activiteiten je graag zou willen komen!
    </p>

    <h3>Ik wil mee op eerstejaarsweekend, hoe schrijf ik me daarvoor in?</h3>
    <p>
        Het aanmelden voor activiteiten gaat via Pretix. Dit is een online webshop,
        waarbij je zelf kan selecteren naar welke activiteiten je graag zou willen komen!
        Het eerstejaarsweekend is hier ook als optie te kiezen.
    </p>
</section>