---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { contentfulClient } from "../contentful";
import type { EntryFieldTypes } from "contentful";

interface Information {
    contentTypeId: "information";
    fields: {
        content: EntryFieldTypes.RichText;
        images?: EntryFieldTypes.Array<EntryFieldTypes.AssetLink>;
    };
}

const [information] = await contentfulClient.withoutUnresolvableLinks
    .getEntries<Information>({
        content_type: "information",
    })
    .then((result) => result.items);
---

<section id="info">
    <div set:html={documentToHtmlString(information.fields.content)} />
    {information.fields.images && <div class="images">
        {information.fields.images.map(image =>
            <img src={image?.fields.file?.url} alt={image?.fields.title} />
        )}
    </div>}
</section>

<style lang="scss">
    #info {
        .images {
            display: none;
        }
    }

    @media screen and (min-width: 800px) {
        #info:has(div + .images) {
            display: grid;
            grid-template-columns: 6fr 4fr;
            align-items: start;

            .images {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin-top: 2rem;
                height: 100%;

                img {
                    width: 80%;
                    margin: 0 auto;
                    height: calc(33.3% - 3rem);
                    object-fit: cover;
                    border-radius: 1rem;
                }
            }
        }
    }
</style>