---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { contentfulClient } from "../contentful";
import type { EntryFieldTypes } from "contentful";
import { Image } from "astro-preload/components";

interface Information {
    contentTypeId: "information";
    fields: {
        content: EntryFieldTypes.RichText;
        images?: EntryFieldTypes.Array<EntryFieldTypes.AssetLink>;
    };
}

const [information] = await contentfulClient.withoutUnresolvableLinks
    .getEntries<Information>({
        content_type: "information",
    })
    .then((result) => result.items);
---

<section id="info">
    {
        information.fields.images &&
            information.fields.images.map((image) => (
                <Image
                    url={"https:" + image!.fields.file!.url + "?w=1000&h=500&fit=fill"}
                    alt={image!.fields.title ?? ""}
                    width={image!.fields.file?.details.image?.width ?? 0}
                    height={image!.fields.file?.details.image?.height ?? 0}
                />
            ))
    }
    <div set:html={documentToHtmlString(information.fields.content)} />
</section>

<style lang="scss">
#info img {
    display: none;
}

@media screen and (min-width: 768px) {
    #info {
        img {
            display: block;
            width: 25% !important;
            float: right;
            aspect-ratio: 2 / 1!important;
            height: auto;
            object-fit: cover;
            border-radius: 1rem;
            clear: right;
            margin: 1rem 0 1rem 2rem;
        }
    }
}

:global(table) {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #cccccc; // ✅ Outer border for desktop
    border-radius: 0.25rem;
}

:global(tbody > tr + tr) {
    border-top: 1px solid #cccccc;
}

:global(tbody > tr > td) {
    padding: 0.825rem;
    text-align: left;
    border: none;

    :global(p) {
        margin: 0;
    }
}

:global(tbody > tr > td:last-child) {
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 767px) {
    :global(table) {
        border: none !important;
        margin: 0 auto; // ✅ Center the table
        box-sizing: border-box;
    }

    :global(table),
    :global(tbody),
    :global(tr),
    :global(td) {
        display: block;
        width: 100%;
    }

    :global(tbody > tr) {
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        padding: 0.5rem;
        background: #fff;
        box-sizing: border-box;
    }

    :global(tbody > tr > td) {
        border-bottom: 1px solid #eee;
        padding: 0.5rem 0;
        text-align: left;
        box-sizing: border-box;
    }

    :global(tbody > tr > td:last-child) {
        border-bottom: none;
    }
}
</style>
