---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { contentfulClient } from "../contentful";
import type { EntryFieldTypes } from "contentful";

interface Information {
    contentTypeId: "information";
    fields: {
        content: EntryFieldTypes.RichText;
        images?: EntryFieldTypes.Array<EntryFieldTypes.AssetLink>;
    };
}

const [information] = await contentfulClient.withoutUnresolvableLinks
    .getEntries<Information>({
        content_type: "information",
    })
    .then((result) => result.items);
---

<section id="info">
    {
        information.fields.images &&
            information.fields.images.map((image) => (
                <img src={image?.fields.file?.url} alt={image?.fields.title} />
            ))
    }
    <div set:html={documentToHtmlString(information.fields.content)} />
</section>

<!-- TODO: Add table styles for programme -->
<style lang="scss">
    #info img {
        display: none;
    }

    @media screen and (min-width: 768px) {
        #info {
            img {
                display: block;
                width: 25%;
                float: right;
                aspect-ratio: 2 / 1;
                object-fit: cover;
                border-radius: 1rem;
                clear: right;
                margin: 1rem 0 1rem 2rem;
            }
        }
    }

    :global(table) {
        border-radius: 0.25rem;
        border: 1px solid #cccccc;
        width: 100%;
        border-collapse: collapse;


        :global(tbody > tr + tr) {
            border-top: 1px solid #cccccc;
        }

        :global(tbody > tr > td) {  
            padding: 0.825rem;

            :global(p) {
                margin: 0;
            }
        }

        :global(tbody > tr > td:last-child) {
            max-width: 500px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
</style>
