---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { contentfulClient } from "../contentful";
import type { EntryFieldTypes } from "contentful";

interface Information {
    contentTypeId: "information";
    fields: {
        content: EntryFieldTypes.RichText;
        images?: EntryFieldTypes.Array<EntryFieldTypes.AssetLink>;
    };
}

const [information] = await contentfulClient.withoutUnresolvableLinks
    .getEntries<Information>({
        content_type: "information",
    })
    .then((result) => result.items);
---

<section id="info">
    {information.fields.images &&
        information.fields.images.map(image =>
            <img src={image?.fields.file?.url} alt={image?.fields.title} />
        )
    }
    <div set:html={documentToHtmlString(information.fields.content)} />
</section>

<!-- TODO: Add table styles for programme -->
<style lang="scss">

    @media screen and (max-width: 767px) {
        #info img {
            display: none;
        }
    }
  

    @media screen and (min-width: 768px) {
        #info {
            img {
                width: 25%;
                float: right;
                aspect-ratio: 2 / 1;
                object-fit: cover;
                border-radius: 1rem;
                clear: right;
                margin: 1rem 0 1rem 2rem;
            }
        }
    }
</style>