---

---

<nav>
    <img
        src="https://public.svsticky.nl/logos/logo_compact_outline_wit.png"
        alt="Logo SV. Sticky"
    />
    <ul>
        <li><a href="#info">Over de introductie</a></li>
        <li><a href="#signup">Inschrijven</a></li>
        <li><a href="#theme">Thema</a></li>
        <li><a href="#sticky">Over Sticky</a></li>
        <li><a href="#FAQ">FAQ</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>

<style lang="scss">
    nav {
        background: #197052;
        height: 4rem;
        padding: 1rem 10rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100vw - 20rem);

        img {
            height: 4rem;
            align-self: flex-start;
        }

        ul {
            align-self: flex-end;
            display: flex;
            list-style-type: none;
            gap: 2rem;
            padding: 0;
            margin: auto 0;

            li a {
                color: white;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
</style>
