---
---

<style>
    .program-section {
      padding: 3rem 15rem;
      background-color: #fff;
      text-align: left;
    }
  
    .container {
      max-width: 1200px;
      margin: 0 auto;
    }
  
    h1 {
      font-size: 2.5rem;
      font-weight: bold;
    }
  
    h1 .highlight {
      color: #197052;
    }
  </style>

<section class="program-section">
    <div class="container">
      <h1>Het <span class="highlight">programma</span></h1>
      <p>
        Er wordt hard gesleuteld aan het programma! Wanneer hier meer over bekend is, laten we dit weten via onze social media platforms.
      </p>
    </div>
  </section>