---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { contentfulClient } from "../contentful";
import type { EntryFieldTypes } from "contentful";

interface Program {
    contentTypeId: "program";
    fields: {
        content: EntryFieldTypes.RichText;
    }
}

const [program] = await contentfulClient.getEntries<Program>({
    content_type: "program"
}).then(result => result.items);
---

<!-- TODO: Add table styles -->
<section id="programme" set:html={documentToHtmlString(program.fields.content)}></section>

