---

---

<style>
    section {
        text-align: left;
    }
</style>

<section>
    <h1>De kleine <strong>lettertjes</strong></h1>
    <p>
        De algemene voorwaarden van de introductie kun je <a
            href="https://raw.githubusercontent.com/svsticky/intro-website/master/src/assets/terms_and_conditions.md"
            >hier</a
        > vinden.<br />
        De privacy statement van de introductie kun je <a
            href="https://raw.githubusercontent.com/svsticky/intro-website/master/src/assets/privacy-statement.md"
            >hier</a
        > vinden.<br />
        De gedragsregels van Studievereniging Sticky kun je <a
            href="https://public.svsticky.nl/Code%20of%20Conduct%20[Nederlands].pdf"
            >hier</a
        > vinden.
    </p>
</section>
