---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { INLINES } from "@contentful/rich-text-types";
import { contentfulClient } from "../contentful";
import type { EntryFieldTypes } from "contentful";

interface Smallprint {
    contentTypeId: "smallPrint";
    fields: {
        content: EntryFieldTypes.RichText;
    };
}

const [smallprint] = await contentfulClient.withoutUnresolvableLinks
    .getEntries<Smallprint>({
        content_type: "smallPrint",
    })
    .then((result) => result.items);
---

<section
    id="smallprint"
    set:html={documentToHtmlString(smallprint.fields.content, {
        renderNode: {
            [INLINES.HYPERLINK]: ({ data, content }, next) =>
                `<a href=${data.uri} target="_blank">${next(content)}</a>`,
        },
    })}
/>
