---
---

<style>
    .sticky-section {
      padding: 3rem 15rem;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .sticky-content {
      max-width: 75%;
    }
  
    .sticky-image {
      width: 35%;
      display: flex;
      justify-content: center;
      padding-left: 3rem;
    }
  
    .sticky-image img {
      max-width: 100%;
      height: auto;
    }
  
    h1 {
      font-size: 2.5rem;
      font-weight: bold;
    }
  
    h1 .highlight {
      color: #197052;
    }
  
    p {
      font-size: 1.1rem;
      line-height: 1.6;
    }
  
    .button {
      display: inline-block;
      padding: 1rem 2rem;
      margin-top: 1rem;
      background-color: #197052;
      color: white;
      font-size: 1.2rem;
      border-radius: 5px;
      text-decoration: none;
      font-weight: bold;
      text-align: center;
    }
  </style>
  
  <section class="sticky-section">
    <div class="sticky-content">
      <h1>Wat is <span class="highlight">Sticky?</span></h1>
      <p>
        Studievereniging Sticky is dé vereniging voor studenten van informatica, informatiekunde en aanverwante studierichtingen en masterprogramma's aan de Universiteit Utrecht. Opgericht op 1 februari 2007, is Sticky uitgegroeid tot een jonge en zeer actieve vereniging met ca. 2000 leden.
      </p>
      <p>
        Sticky organiseert een breed scala aan activiteiten om studenten buiten de colleges op een informele manier met elkaar in contact te brengen. Deze variëren van filmavonden en game-sessies tot whiskyproeverijen en thema feesten. Daarnaast is er elke week een gratis borrel, waar leden kunnen socializen met medestudenten onder het genot van een hapje en een drankje.
      </p>
      <p>
        Naast sociale activiteiten biedt Sticky ook studieondersteuning. Samen met docenten organiseert de vereniging hulpmiddagen voor vakken, vakborrels en symposia. Ook kunnen leden terecht voor gratis koffie en koekjes in de gezelligheidskamer, die elke werkdag geopend is van 8:45 tot minstens 17:00.
      </p>
      <p>
        Lid worden van Sticky kost eenmalig €7,50. Voor meer informatie kun je terecht op <a href="https://svsticky.nl">svsticky.nl</a>.
      </p>
      <a href="https://wordlid.svsticky.nl" class="button">Word lid!</a>
    </div>
  
    <div class="sticky-image">
      <img src="https://public.svsticky.nl/logos/hoofd_outline_kleur.svg" alt="Sticky logo">
    </div>
  </section>
  