.main.container {
  padding-top: 5em;
  padding-bottom: 2em;
}

.main.card{
  padding-left: 1em;
  padding-right: 1em;
  background-color: white;
}
main{
  background-image: linear-gradient(to bottom, lightblue, darkblue) !important;
}
a.anchor{
  position: relative;
  top: -2.2em;
}
img.association{
  position: relative;
  top: -1em;
}

